<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <title>Work Plan</title>
</head>
<body>
    <h2 class="heading">Work Plan</h2>
    <div>
        <form action="/editwork/<%=title_value%>" method="post">
            <input type="text" name="worktitle" placeholder="Work Title" value="<%=title_value%>" required>
            <br>
            <textarea type="text" name="description" placeholder="Add Details" rows="6" cols="60" maxlength="500" ><%=description_value%></textarea>
            <br>
            <label for="duedate">Due Date: </label>
            <input type="date" id="duedate" name="duedate" min="<%=min_date%>" value="<%=duedate_value%>">
            <br>
            <button type="submit">Edit Work</button>
        </form>

        <form action="/delete/<%=title_value%>" method="post">
            <button type="submit">Delete Work</button>
        </form>
    </div>
    
</body>
</html>